<div class="manage_main_container">
<!--
    <div class="header_manage">
        <div class="gotham">Project Plaque</div>
    </div>
-->
     <div class="manage_category_nav category_nav gotham" style="display: block;">
        <!--            <div class="color_bar project_plaque_cat_color"></div>-->
        <div class="relative manage_category manage_cat_active" category-type="project_plaque" ui-sref-active="active" ui-sref=".projectplaqueState">Project Plaque</div>
        <!--            <div class="color_bar team_cat_color"></div>-->
        <div class="relative manage_category" category-type="team" ui-sref-active="active" ui-sref=".teamState">Team</div>
        <!--            <div class="color_bar account_cat_color"></div>-->
        <div class="relative manage_category" category-type="account" ui-sref-active="active" ui-sref=".accountState">Account</div>
        <!--            <div class="color_bar billing_cat_color"></div>-->
        <div class="relative manage_category" category-type="billing" ui-sref-active="active" ui-sref=".billingState">Billing</div>
        <!--            <div class="color_bar setup_cat_color"></div>-->
        <div class="relative manage_category" category-type="setup" ui-sref-active="active" ui-sref=".setupState">Setup</div>
        <!--            <div class="color_bar gresb_cat_color gresb-elem display_none"></div>-->
        <div class="relative manage_category  gresb-elem" category-type="gresb" ui-sref-active="active" ui-sref=".gresbState">GRESB</div>
        <!--            <div class="color_bar strategies_cat_color"></div>-->
        <div class="relative manage_category" category-type="strategies" ui-sref-active="active" ui-sref=".strategiesState">Strategies</div>
        <!--            <div class="color_bar connected_apps_cat_color"></div>-->
        <div class="relative manage_category  display_none" category-type="connected_apps" style="display: block;" ui-sref-active="active" ui-sref=".connectedappsState">Connected Apps</div>
    </div>
     <div class="manage_sub_container" ui-view>
        
    </div> 
<!--
    <div class="manage_sub_container">
        <div class="manage_block">
            <div class="header_lobby align_center">
                <div class="heading_workInProgrees gotham bold">Work in progress</div>
                <div class="">
                    <button id="switch_UI_project_plaque" class="btnExpand gotham switch_UI_manage mb30 outline_zero"><span class="floatl" style="font-weight:bold;">Switch to classic view</span></button>
                </div>
            </div>
        </div>
    </div>
-->
</div>