<div class="data_input">
    <div class="header_data_input">
        <div class="containerDiv">
            <div class="heading6 gotham pointe data_input_tool_bar navigation-tab input_nav" ui-sref-active="active" ui-sref=".inputState">Inputs</div>
            <div class="heading6 gotham pointer survey_tool_bar navigation-tab input_nav" data-page="survey" ui-sref-active="active" ui-sref=".surveyState">Survey</div>
            <div class="floatr">
                <button id="add_data_button" class="touch_version btnWhite gotham"><span class="floatl" style="margin-top: 6px;font-weight:bold;">Add/Upload Data</span> <span style="margin-top: -3px;font-size: 26px;font-weight: bold;" class="floatr">+</span></button>
            </div>
            <div class="floatr">
                <button id="manual_img" class="relative btnWhite gotham" ng-click="openAddMeterModal()">
                    <paper-ripple fit=""></paper-ripple>
                    <span class="floatl" style="margin-top: 6px;font-weight:bold;">Add Meter</span> <span style="margin-top: -3px;font-size: 26px;font-weight: bold;" class="floatr">+</span>
                </button>
            </div>
        </div>
    </div>
    
    <div ui-view></div>
</div>