<!-- Start jQuery Notification Bar -->
<div class="jquery-header-bar" style="display:none; background: #FFFFFF; width:100%; top: 0px; z-index: 10000; padding: 2px 0px 0px 0px; border-bottom:2px solid #CC0000; box-shadow: 0px 4px 5px #AAAAAA; font-size:14px; font-family: 'Lato Regular', Arial; text-transform:uppercase; position: absolute;">
    <span class="notification" style="display:block; width:auto; position: relative;">
        <p class="font-style" style="color: #6B6969; width:95%; text-align: center; margin-top:10px; margin-bottom:10px; text-transform: none; font-size:14px; line-height:1.6;"></p>
        <p class="jquery-arrow down" style="position: absolute;top: 30%; right: 24px; width:13px;"><img src="assets/img/close.png" style="cursor:pointer;max-width: 100%;"></p>
    </span>
</div>
<!-- End jQuery Notification Bar -->
<div class="loader_bg">
    <div class="loader"></div>
</div>
<div id="modal" class="popupContainer">
    <header class="popupHeader">
        <span class="header_title">Sign In</span>
        <!-- <span class="modal_close" style="display:none;"><i class="icon-remove"></i></span> -->
    </header>
    <section class="popupBody">
        <!-- Username & Password Login form -->
        <div class="user_login">
            <form method="post">
                <div id="error_msz"></div>
                <input id="login_user" placeholder="E-mail" type="text" autocorrect="off" autocapitalize="off" name="username" value="" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'"/>
                <input id="login_pass" placeholder="Password" type="password" autocorrect="off" autocapitalize="off" name="password" value="" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'"/>
                <div class="checkbox">
                    <input type="checkbox" id="remember" name="cc" checked="True" />
                    <label for="remember" class="remember_label" style="font-family: Gotham;">
                        <div class="checkBox_tick fa fa-check"></div>
                        Remember me
                    </label>
                    <!-- <input id="remember" checked="True" type="checkbox" />
                        <label for="remember" style="font-family: 'Source Sans Pro', sans-serif; font-size: 13px; color: #666;">Remember me</label> -->
                </div>
                <div class="action_btns">
                    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='ziYHgsfAky9M59JGvA7spMBBoUB60qJQ' /></div>
                    <div class="one_half last login_user_button">
                        <!-- <input class="btn btn_red" id="submit_btn" type="submit" value="LOG IN" /> -->
                    </div>
                </div>
            </form>
            <div class="action_btns_create_user">
                <div class="one_half last create_account_button">
                    <!-- <input class="btn btn_red" id="click_sign_up" type="submit" value="CREATE ACCOUNT" /> -->
                </div>
            </div>
        </div>
        <p class="new_user mb25">
            <a id="create_account" href="http://www.usgbc.org/user/password" target="_blank">Forgot your password?</a>
            <span id="login_signup">Sign Up</span>
        </p>
    </section>
</div>
