<!-- Start jQuery Notification Bar -->

<div id="DIV_2">
    <span id="SPAN_3"></span>
    <p id="P_4">
    </p>
    <p id="P_5">
        <img src="assets/img/close.png" id="IMG_6" alt='' />
    </p>
</div>
<!-- End jQuery Notification Bar -->

<div id="DIV_7">
    <div id="DIV_8">
    </div>
</div>
<div id="DIV_9">
    <header id="HEADER_10">
         <span id="SPAN_11">SIGN IN</span>
        <!-- <span class="modal_close" style="display:none;"><i class="icon-remove"></i></span> -->

    </header>
    <section id="SECTION_12">
        <!-- Username & Password Login form -->

        <div id="DIV_13">
            <form method="post" id="FORM_14">
                <div id="DIV_15">
                </div>
                <input id="INPUT_16" placeholder="E-mail" type="text" name="username" />
                <input id="INPUT_17" placeholder="Password" type="password" name="password" />
                <div id="DIV_18">
                    <input type="checkbox" id="INPUT_19" name="cc" checked="True" />
                    <label for="remember" id="LABEL_20">
                    </label>
                    <div id="DIV_21">
                    </div>Remember me <!--
                    <input id="remember" checked="True" type="checkbox" /> 
                    <label for="remember">
                        Remember me
                    </label> -->
                </div>
                <div id="DIV_22">
                    <div id="DIV_23">
                        <input type="hidden" name="csrfmiddlewaretoken" value="ziYHgsfAky9M59JGvA7spMBBoUB60qJQ" id="INPUT_24" />
                    </div>
                    <div id="DIV_25">
                        <!-- <input class="btn btn_red" id="submit_btn" type="submit" value="LOG IN" /> -->

                        <input id="INPUT_26" type="submit" value="LOG IN" />
                    </div>
                </div>
            </form>
            <div id="DIV_27">
                <div id="DIV_28">
                    <!-- <input class="btn btn_red" id="click_sign_up" type="submit" value="CREATE ACCOUNT" /> -->

                </div>
            </div>
        </div>
        <p id="P_29">
             <a id="A_30" href="http://www.usgbc.org/user/password">Forgot your password?</a> <span id="SPAN_31">Sign Up</span>
        </p>
    </section>
</div>