
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:350px;
	height: 420px;
	left:45%;
	top:80px;
	background: #FFF;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;
    border-color: #bdc4c9;
    border: 1px solid #7A858D;
    display: block;
      position: absolute;
      opacity: 1;
      z-index: 11000;
      left: 50%;
      margin-left: -175px;
      top: 120px;
}
#submit_btn { cursor: pointer; border-width: 2px; float: none; border: 1px solid rgb(109,176,197); -webkit-border-radius : 5px; -moz-border-radius: 5px; border-radius: 5px; width: 284px; font-size: 14px; font-weight: normal; height: 40px;  }

/*#modal_trigger {margin:0px auto; width:100px; display:block;}*/

/*.btn {padding:10px 20px; background: rgb(118,191,214);}*/
.btn_red {background: rgb(118,191,214); color: #FFF; font-size: 14px;}
-webkit-border-radius : 5px; -moz-border-radius: 5px; border-radius: 5px;
.btn:hover {background: rgb(109,176,197);}
.btn_red:hover {background-color : rgb(109,176,197);}

a.btn {color:#666; text-align: center; text-decoration: none;}
a.btn_red {color: #FFF;}

.one_half {}
.one_half.last {}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:20px 32px; border-bottom:1px solid #DDD; font-weight:normal; font-size: 18px; -webkit-border-radius : 5px 5px 0px 0px; -moz-border-radius: 5px 5px 0px 0px; border-radius: 5px 5px 0px 0px;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:22px 32px; cursor: pointer; color:#aaa; font-size:16px;  -webkit-border-radius : 0px 5px 0px 0px; -moz-border-radius: 0px 5px 0px 0px; border-radius: 0px 5px 0px 0px;}

.popupBody {padding:32px; padding-bottom: 40px}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden; -webkit-border-radius : 5px; -moz-border-radius: 5px; border-radius: 5px;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: block;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:95%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px; margin-left: 0px;}
.user_login input[type="checkbox"]+label {float:left; cursor: pointer; font-size: 13px;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:block; margin: 20px 0 10px; clear: both; overflow: hidden; text-decoration: none; color:#ED6347;}

#login_iFrame {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    border: none;
    width: 100%;
    height: 100%;
}

.h390{
  height: 390px !important;
}

.h430{
  height: 430px !important;
}

.close_login{
  float: right;
  background: transparent;
  outline: none;
  opacity: 1 !important;
  margin-bottom: 0px !important;
  color: #ccc !important;
  font-size: 17px !important;
  padding: 0;
  height: 30px;
  width: 30px;
  background-color: #f1f1f1 !important;
  margin-top: 0px !important;
  border-radius: 0 5px 0 3px;
  line-height: 30px;
  border: 0px;
}

#the-basics{
  display: none;
}

@media (max-width: 360px){
.popupContainer {
        width: 320px;
    }
}