body {
	background: #fff;
	font-family: "../fonts/GothamLight";
	font-size: 16px;
	line-height: 1.5;
	color: #4a4a4a;
	}
	
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: MontserratBold;
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: GothamBook;
  src: url(../fonts/Gotham-Book.otf);
}

@font-face {
  font-family: GothamLight;
  src: url(../fonts/Gotham-Light.otf);
}


h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;
	}


h1 {
	font-family: 'montserrat';
	font-size: 36px;
	color: #4a4a4a; 	
	}


h2 { 
	font-family: 'montserrat';
	font-size: 30px;
	color: #4a4a4a;
	font-weight: normal;
	}
	
h3 { 
	font-family: 'montserrat';
	font-size: 24px;
	color: #4a4a4a;
	font-weight: normal;
	}


h4 {
	font-family: 'montserrat';
	font-size: 18px;
	color: #4a4a4a;
	}
	
h5 { 
	font-family: 'montserrat';
	font-size: 12px;
	color: #4a4a4a;
	font-weight: normal;
	text-transform: uppercase;
	}

	
h6 { 
	font-family: 'GothamBook';
	font-size: 12px;
	color: #4a4a4a;
	font-weight: normal;
	}
	
strong {
	font-family: 'montserrat';
	font-weight: normal;
	}
	
.leed-strong {
	font-family: 'montserrat' !Important;
	font-weight: normal;
	}
	
.leed-small {
	font-size: 12px;
	font-family: "GothamBook";
	}

a {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	color: #3E93A9;
	}
	
a:hover {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	color: #38869B;
	}
	
	
label {
	font-weight: normal;
	font-size: 14px;
	margin-right: 10px;
	}

p {
	margin: 0;
	}
	
ul {
	padding: 0;
	list-style: none;
	}
	

/* BG COLORS */
	
.leed-bg-black {
	background: #000!important ;
	}
	
.leed-bg-dk-grey {
	background: #4a4a4a !important;
	}
	
.leed-bg-md-grey2 {
	background: #9b9b9b !important;
	}
	
	
.leed-bg-md-grey {
	background: #ccc !important;
	}
	
.leed-bg-lt-grey {
	background: #f1f1f1 !important;
	}
	
.leed-bg-lt-grey2 {
	background: #fbfbfb !important;
	}
	
.leed-bg-white {
	background: #fff !important;
	}

.leed-bg-green {
	background: #95BF58 !important;
	}
	
.leed-bg-blue {
	background: #3E93A9 !important ;
	}
	
.leed-bg-energy {
	background: #D0DD3D !important;
	}

.leed-bg-water {
	background: #55CAF5 !important;
	}

.leed-bg-waste {
	background: #84CCAF !important;
	}
	
.leed-bg-transport {
	background: #a39f92 !important;
	}
	
.leed-bg-human {
	background: #F2AC41 !important;
	}

/* LAYOUT */


.leed-card {
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 5px;
	padding: 50px;
	display: inline-block;
	}

/* PROJECT CARDS */
	
@media (max-width: 480px){
.leed-proj-card {
	position: relative;
	background: #fff;
	border-radius: 5px;
	padding: 15px;
	width: 100%;
	min-width: 280px;
	height: 120px;
	margin: auto;
	text-align: left;
	}
}

@media (min-width: 481px){
.leed-proj-card {
	position: relative;
	background: #fff;
	border-radius: 5px;
	padding: 25px;
	width: 30%;
	min-width: 225px;
	max-width: 250px;
	height: 290px;
	margin:auto;
	text-align: left;
	}
}
	
.leed-proj-card p {
	font-size: 14px;
	}
	
.proj-title {
	margin-bottom: 3px;
	width: 100%;
	}

@media (max-width: 480px){	
.proj-title {
	margin-bottom: 3px;
	font-size: 14px !important;
	font-family: 'montserrat';	
	width: 170px;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-all;
	}
}

@media (min-width: 480px){	
.proj-title {
	margin-bottom: 10px;
	font-size: 16px !important;
	font-family: 'montserrat';
	padding-right: 15px;
	overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
	line-height: 20px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;	
	}
}

@media (max-width: 480px){
.level {
	display: none;
	}
}

@media (min-width: 481px){
.level {
	position: absolute;
	bottom: 70px;
	left: 25px;
	font-size: 16px !important;
	font-family: 'montserrat';
	float: left;
	}
}

@media (max-width: 480px){
.city-state {
	display: none;
	font-family: 'montserrat'
	}
}

@media (min-width: 481px){
.city-state {
	display: block;
	margin-bottom: 3px;
	font-family: 'montserrat';
	font-size: 14px !important;
	}
}

@media (max-width: 480px){
.score {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 48px !important;
	font-family: 'montserrat';
	color: #ccc !important;
	line-height: 48px;
	}
}

@media (min-width: 481px){
.score {
	position: absolute;
	bottom: 70px;
	right: 25px;
	font-size: 60px !important;
	font-family: 'montserrat';
	color: #ccc !important;
	line-height: 60px;
	}
}

@media (max-width: 480px){	
.leed-proj-card .proj-id {
	position: absolute;
	bottom: 15px;
	font-size: 14px;
	margin-bottom: 2px;
	text-transform: none;
	font-family: 'montserrat'
	}
}

@media (min-width: 481px){	
.leed-proj-card .proj-id {
	position: relative;
	font-size: 14px;
	text-transform: none;
	margin-bottom: 3px;
	font-family: 'montserrat'
	}
}

@media (max-width: 480px){
.leed-proj-card-btn,
.leed-proj-card-btn:hover {
	background: transparent !important;
	height: 120px;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: right;
	line-height: 46px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-size: 16px;
	text-transform: uppercase;
	padding-right: 15px;
	padding-top: 70px;
	}
}

@media (min-width: 481px){	
.leed-proj-card-btn {
	background: white;
	height: 55px;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	line-height: 46px;
	border-top: solid 1px #f1f1f1;
	border-left: none;
	border-right: none;
	border-bottom: none;
	font-size: 16px;
	text-transform: uppercase;
	}
}
	

@media (max-width: 480px){	
.leed-proj-card-btn-pay {
	background: #fff;
	color: #95BF58;
	}	
.leed-proj-card-btn-pay:hover {
	background: transparent;
	color: #95BF58;
	border-top: none;
	}
}

@media (min-width: 481px){	
.leed-proj-card-btn-pay {
	background: #fff;
	color: #95BF58;
	}	
.leed-proj-card-btn-pay:hover {
	background: #95BF58;
	color: #fff;
	border-top: none;
	}
}

.leed-proj-card-btn-pay span::after { 
    content: "Payment";
}

/* Pagination */

.pagination-bar {
	background: #e2e2e2;
	height: 50px;
	vertical-align: middle;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	width: 100%;
	position: fixed;
	bottom: 0;
	}
	
.step-complete {
	width: 25px;
	height: 25px;
	background: url('../img//Checkmark.svg') no-repeat;
	background-size: 20px 20px;
	background-position: center;
	}
	
.step-complete:hover {
	width: 25px;
	height: 25px;
	background: url('../img//Checkmark.svg') no-repeat;
	background-size: 21px 21px;
	background-position: center;
	}
	
.step-incomplete {
	width: 20px;
	height: 25px;
	background: url('../img//Emptystep.svg') no-repeat;
	background-size: 13px 13px;
	background-position: center;
	}
	
.step-incomplete:hover {
	width: 20px;
	height: 25px;
	background: url('../img//Emptystep.svg') no-repeat;
	background-size: 14px 14px;
	background-position: center;
	}
	
.leed-btnNext {
	width: 42px;
	height: 42px;
	background: url('../img//nextbtn.png') no-repeat;
	background-size: 20px;
	background-position: center;
	background-color: #ccc;
	border-radius: 3px;
	position: absolute;
	right: 4px;
	bottom: 4px;
	}
	
.leed-btnPrevious {
	width: 42px;
	height: 42px;
	background: url('../img//backbtn.png') no-repeat;
	background-size: 20px;
	background-position: center;
	background-color: #ccc;
	border-radius: 3px;
	float: left;
	position: absolute;
	left: 4px;
	bottom: 4px;
	}
	
.leed-btnPrevious:hover,
.leed-btnNext:hover	{
	background-color: #B4B4B4;
	}
	
.pagination-bar ul li {
	display: inline;
	}
	
/* BUTTONS */
		
	
a.button.leed-btn-lg {
	line-height: 50px;
	}
	
a.button.leed-btn-sm {
	line-height: 30px;
	}
	
a.button {
	line-height: 40px;
	}

a.button.leed-btnOutline {
	line-height: 37px;
	}
	
.button {
	font-family: 'montserrat';
	padding-left: 20px;
	padding-right: 20px;
	height: 40px;
	border-radius: 3px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	border: none;
	}

.leed-btn-sm {
	padding-left: 15px !important;
	padding-right: 15px !important;
	padding-top: 4px;
	height: 30px !important;
	font-size: 12px !important;
	line-height: 22px !important;
	}
	
.leed-btn-lg {
	padding-left: 50px !important;
	padding-right: 50px !important; 
	height: 50px !important;
	font-size: 16px !important;
	line-height: 22px;
	letter-spacing: 1px;	
	}
	
.leed-btnOutline {
	background: transparent !important;
	border: solid 2px #ccc;
	color: #ccc;
	}
	

.leed-btnOutline:hover {
	background: #ccc;
	}

	
.leed-btnGreen {
	background: #95BF58;
	color: #fff;
	border: none;
	}
	
.leed-btnGreen:hover{
	background: #82A74E;
	color: white;	
	}	

		
.leed-btnGreen.leed-btnOutline {
	color: #95BF58;
	border: solid 2px #95BF58;
	}
	
.leed-btnGreen.leed-btnOutline:hover {
	background: #95BF58 !important;
	color: white;
	}
	
.leed-btnBlue {
	background: #3E93A9;
	color: #fff;
	border: none;
	}
	
.leed-btnBlue:hover{
	background: #38869B !important;
	color: white;	
	}	
		
.leed-btnBlue.leed-btnOutline {
	color: #3E93A9;
	border: solid 2px #3E93A9;
	}
	
.leed-btnBlue.leed-btnOutline:hover {
	background: #3E93A9 !important;
	color: white;
	}
	

.leed-btnGrey {
	background: #ccc;
	color: #fff;
	border: none;
	}
	
.leed-btnGrey:hover{
	background: #B4B4B4 !important;
	color: white;	
	}	
		
.leed-btnGrey.leed-btnOutline {
	color: #ccc;
	border: solid 2px #ccc;
	}
	
.leed-btnGrey.leed-btnOutline:hover {
	background: #ccc !important;
	color: white;
	}
	
.leed-btnDkGrey {
	background: #4a4a4a;
	color: #fff;
	border: none;
	}
	
.leed-btnDkGrey:hover{
	background: #4a4a4a !important;
	color: white;	
	}	
		
.leed-btnDkGrey.leed-btnOutline {
	color: #4a4a4a;
	border: solid 2px #4a4a4a;
	}
	
.leed-btnDkGrey.leed-btnOutline:hover {
	background: #4a4a4a !important;
	color: white;
	}
	
.leed-btnEnergy {
	background: #D0DD3D;
	color: #4a4a4a;
	border: none;
	}
	
.leed-btnEnergy:hover{
	background: #BECC21 !important;
	color: #4a4a4a;	
	}	
		
.leed-btnEnergy.leed-btnOutline {
	color: #D0DD3D;
	border: solid 2px #D0DD3D;
	}
	
.leed-btnEnergy.leed-btnOutline:hover {
	background: #D0DD3D !important;
	color: white;
	}

.leed-btnWater {
	background: #55CAF5;
	color: #4a4a4a;
	border: none;
	}
	
.leed-btnWater:hover{
	background: #3AB8E6 !important;
	color: #4a4a4a;	
	}	
		
.leed-btnWater.leed-btnOutline {
	color: #55CAF5;
	border: solid 2px #55CAF5;
	}
	
.leed-btnWater.leed-btnOutline:hover {
	background: #55CAF5 !important;
	color: white;
	}
	
.leed-btnWaste {
	background: #84CCAF;
	color: #4a4a4a;
	border: none;
	}
	
.leed-btnWaste:hover{
	background: #74C2A3 !important;
	color: #4a4a4a;	
	}	
		
.leed-btnWaste.leed-btnOutline {
	color: #84CCAF;
	border: solid 2px #84CCAF;
	}
	
.leed-btnWaste.leed-btnOutline:hover {
	background: #84CCAF !important;
	color: white;
	}
	
.leed-btnTransport {
	background: #a39f92;
	color: #4a4a4a;
	border: none;
	}
	
.leed-btnTransport:hover{
	background: #928C77 !important;
	color: #4a4a4a;	
	}	
		
.leed-btnTransport.leed-btnOutline {
	color: #a39f92;
	border: solid 2px #a39f92;
	}
	
.leed-btnTransport.leed-btnOutline:hover {
	background: #a39f92 !important;
	color: white;
	}
	
.leed-btnHuman {
	background: #F2AC41;
	color: #4a4a4a;
	border: none;
	}
	
.leed-btnHuman:hover{
	background: #DD9931 !important;
	color: #4a4a4a;	
	}	
		
.leed-btnHuman.leed-btnOutline {
	color: #F2AC41;
	border: solid 2px #F2AC41;
	}
	
.leed-btnHuman.leed-btnOutline:hover {
	background: #F2AC41 !important;
	color: white;
	}
			
.leed-btnCancel {
	background: #f1f1f1;
	border: solid 0px #E1DEDE;   
    height: 30px;
    width: 30px;
    padding: 0px;
    background-image: url('../img//cancel.png');
    background-position: center;
	background-size: 12px 13px;
	background-repeat: no-repeat;
	border-radius: 0px 5px 0px 5px;
    }
    
.leed-btnCancel:hover{
	background: #CCC;
	border: solid 0px #CCC;   
    height: 30px;
    width: 30px;
    padding: 0px;
    background-image: url('../img//cancel-hover.png');
    background-position: center;
	background-size: 12px 13px;
	background-repeat: no-repeat;
	border-radius: 0px 5px 0px 5px;
    }
    	
.tag-blue{
	padding-left: 15px;
	padding-right: 15px;
	height: 30px;
	background: transparent;
	border-radius: 3px;
	font-size: 12px;
	line-height: 26px;
	color: #3E93A9;
	border: solid 1px #3E93A9;
	display: inline-block;
	font-family: "Montserrat";
	margin-right: 10px;
	margin-top: 10px;
	}
	
.tag-blue:hover {
	background: #3E93A9;
	color: #fff;
	line-height: 20px;
	}
	
a.tag-blue{
	line-height: 30px !important;
	}
	
a.tag-blue:hover {
	line-height: 27px !important;
	/*color: #3E93A9;*/
	}

/*a.button {
	background: #ccc;
	}*/

/* INPUTS & SELECTORS */

/*textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
select:hover,
select:active,
select:focus
{
    outline:0px !important;
    -webkit-appearance:none;
}	*/

.leed-input-grey-bg {
	padding-left: 10px;
	height: 40px;
	background: #f1f1f1;
	border-radius: 3px;
	font-size: 14px;
	color: #4a4a4a;
	display: inline-block;
	border: 1px solid #E1DEDE;
	}

.leed-input-white-bg {
	padding-left: 10px;
	height: 40px;
	background: #fff;
	border-radius: 3px;
	font-size: 14px;
	color: #4a4a4a;
	display: inline-block;
	border: 1px solid #E1DEDE;
	}
	
.leed-dropdown-grey-bg {
	padding-left: 10px;
	height: 40px;
	background-color: #f1f1f1;
	border-radius: 3px;
	font-size: 14px;
	color: #4a4a4a;
	display: inline-block;
	border: 1px solid #E1DEDE;
    -webkit-appearance:none;
	background-image: url('../img//dropdown-arrow.png') !important;	
	background-repeat: no-repeat !important;
	background-position: 95% !important;
	background-size: 9px !important;
}

.leed-dropdown-white-bg {
	padding-left: 10px;
	height: 40px;
	background-color: #fff;
	border-radius: 3px;
	font-size: 14px;
	color: #4a4a4a;
	display: inline-block;
	border: 1px solid #E1DEDE;
    -webkit-appearance:none;
	background-image: url('../img//dropdown-arrow.png') !important;	
	background-repeat: no-repeat !important;
	background-position: 95% !important;
	background-size: 9px !important;
}

/* toggle switch 1 */
.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label {
  padding: 2px;
  width: 40px;
  height: 20px;
  background-color: #ebebeb;
  border-radius: 60px;
  /*transition: background 0.07s;*/
  margin-bottom: -7px;
}
input.cmn-toggle-round-flat + label:before,
input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  /*background-color: #fff;*/
  background-color: #ebebeb;
  border-radius: 60px;
  /*transition: background 0.07s;*/
}
input.cmn-toggle-round-flat + label:after {
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 20px;
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 52px;
  background-image: url('../img//switch_off.svg');
  background-repeat: no-repeat;
  background-size: 20px;
  /*transition: margin 0.07s, background 0.07s;*/
}
input.cmn-toggle-round-flat:checked + label {
  /*background-color: #8ce196;*/
  background-color: #ebebeb;
}
input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 20px;
  background-image: url('../img//Checkmark.svg');
  background-repeat: no-repeat;
  background-size: 20px;
}
/* toggle switch 1 ends */

.checkbox_img {
   height: 18px;
   width: 18px;
}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../img/checkboxEmpty.png') left top no-repeat;
    cursor:pointer;
    background-size: 100%;
}
input[type="checkbox"]:checked + label span {
    background:url('../img/checkboxFull.png') left top no-repeat;
    background-size: 100%;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url('../img//radioEmpty.png') left top no-repeat;
    cursor:pointer;
    background-size: 100%;
}
input[type="radio"]:checked + label span {
    background:url('../img//radioFull.png') left top no-repeat;
    background-size: 100%;
}


/* ADJUSTMENTS */
	
.mb5 {
	margin-bottom: 5px;
	}

.mb10 {
	margin-bottom: 10px;
	}
	
.mb15 {
	margin-bottom: 15px;
}

.mb25 {
	margin-bottom: 25px;
	}
	
.mb50 {
	margin-bottom: 50px;
}

.mt10 {
	margin-top: 10px;
}


.mt25 {
	margin-top: 25px;
}


.mr10 {
	margin-right: 10px;
	}
	
.mr15 {
	margin-right: 15px;
	}
	
.mr25 {
	margin-right: 25px;
	}
	
.ml10 {
	margin-left: 10px;
	}
	
.ml15 {
	margin-left: 15px;
	}
	
.ml25 {
	margin-left: 25px;
	}

.nopadding {
	padding: 0;
	}
	
.pt0{
	padding-top: 0px;
	}
	
.pr10 {
	padding-right: 10px;
	}
	
.pl10 {
	padding-left: 10px;
	}
	
.pt25{
	padding-top: 25px;
	}
	
.pt50{
	padding-top: 50px;
	}
	
.pb50{
	padding-bottom: 50px;
	}
	
.pb100{
	padding-bottom: 100px;
	}
	
.floatl {
	float: left;
	}
	
.floatr {
	float: right;
	}
	
.floatn {
	float: none;
	}
	
.align-left {
	text-align: left;
	}
	
.align-center {
	text-align: center;
	}
	
.align-right {
	text-align: right;
	}
	
.inline {
	display: inline;
	}
	

/*Confidence level*/

.confidence-rating {
	width: 100%;
	height: 40px;
	}

.confidence-rating-low {
	background: url('../img/icons/confidence-low.svg') no-repeat;
	background position: center;
	background-size: contain;
	}

.confidence-rating-medium {
	background: url('../img//icons/confidence-medium.svg') no-repeat;
	background position: center;
	background-size: contain;
	}

.confidence-rating-high {
	background: url('../img/icons/confidence-high.svg') no-repeat;
	background position: center;
	background-size: contain;
	}

/*Section colors*/
.energy-section-color{
	color: #D0DD3D;
}

.water-section-color{
	color: #55CAF5;
}

.waste-section-color{
	color: #84CCAF;
}

.transport-section-color{
	color: #A39F92;
}

.human-section-color{
	color: #F2AC41;
}

.green-color{
	color: #95BF58;
}

.black-color{
	color: #000;
}
