<div class="analysis_input">
    <div class="header_analysis_input mb2">
        <div class="containerDiv">
            <div class="heading6 gotham header_analysis_text" ng-bind="analysis_header">Energy Analysis</div>
        </div>
    </div>
    <div id="data_analysis_content" class="mb50">
        <div class="data_input_category_nav category_nav gotham meter_types_nav" id="data_input_category_nav_analysis">
            <div class="color_bar energy_cat_color" id="energy_cat_color_angular"></div>
            <div class="data_input_category energy_cat" category-type="energy" ui-sref-active="active" ui-sref=".energyAnalysisState">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category energy_icon"></div>
                <span class="category_text">Energy</span>
            </div>
            <div class="color_bar water_cat_color" id="water_cat_color_angular"></div>
            <div class="data_input_category water_cat" category-type="water" ui-sref-active="active" ui-sref=".waterAnalysisState">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category water_icon"></div>
                <span class="category_text">Water</span>
            </div>
            <div class="color_bar waste_cat_color" id="waste_cat_color_angular"></div>
            <div class="data_input_category waste_cat" category-type="waste" ui-sref-active="active" ui-sref=".wasteAnalysisState">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category waste_icon"></div>
                <span class="category_text">Waste</span>
            </div>
            <div class="color_bar transportation_cat_color" id="transport_cat_color_angular"></div>
            <div class="data_input_category transportation_cat" category-type="transportation" ui-sref-active="active" ui-sref=".transportAnalysisState">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category transportation_icon"></div>
                <span class="category_text">Transportation</span>
            </div>
            <div class="color_bar humanexperience_cat_color" id="human_cat_color_angular"></div>
            <div class="data_input_category humanexperience_cat" category-type="humanexperience" ui-sref-active="active" ui-sref=".humanAnalysisState">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category humanexperience_icon"></div>
                <span class="category_text">Human Experience</span>
            </div>
            <div class="color_bar leedcertification_cat_color"></div>
            <div class="data_input_category leedcertification_cat" category-type="leedcertification" style="display:none;">
                <!--                <paper-ripple fit></paper-ripple>-->
                <div class="icon_category leedcertification_icon"></div>
                <span class="category_text">LEED Certication</span>
            </div>
        </div>
        <div class="analysis_container" ui-view>
        </div>
    </div>
</div>
