<div class="width100p floatl lobby_survey_container manage_block">
    <div class="header_lobby pl25 pr25 pt25">
        <div class="heading6 gotham bold">Lobby Survey</div>
        <div class="floatr">
            <button id="expand_lobby" class="btnExpand gotham outline_zero w83" ng-click="show_lobby = !show_lobby"><span style="font-weight:bold;">Expand</span></button>
        </div>
    </div>
    <div class="header_content gotham bold pl25 pr25">
        <div><p>Conduct a Lobby Survey to gather Human Experience data from people in your building.</p></div>
    </div>
    <div class="header_content gotham bold pl25 pr25 expand_lobby_slide" ng-show="show_lobby">
        <div class="display_inlineb">
            <div>
                <input id="checkbox-lobbySurvey" class="checkbox-custom" name="lobbySurvey-1" type="checkbox" checked="checked">
                <label for="checkbox-lobbySurvey" class="checkbox-custom-label">Conduct a Lobby Survey</label>
            </div>
        </div>
        <div class="cursor_pointer blue_color display_inlineb" data-toggle="modal" data-target="#lobby_survey_modal">Learn More</div>
        <div id="survey_expire_date" class="mont" style="display: none;">
        
    </div>
    </div>
    
</div>
 
<div class="floatl dividerManageSection"></div>
 
<div class="width100p floatl LDP_visibility_container manage_block">
    <div class="header_lobby pl25 pr25 pt25">
        <div class="heading6 gotham bold">Visibility of your LEED Dynamic Plaque</div>
        <div class="floatr">
            <button id="expand_LDP_visibility" class="btnExpand gotham outline_zero w83" ng-click="show_visibility = !show_visibility"><span style="font-weight:bold;">Expand</span></button>
        </div>
    </div>
    <div class="header_content gotham bold pl25 pr25">
        <div><p>Manage which parts of your LEED Dynamic Plaque people can see.</p></div>
    </div>
    <div class="header_content gotham bold pl25 pr25 LDP_slide" ng-show="show_visibility">

        <div>
            <div class="display_inlineb">
                <input id="checkbox-LDP-confidential" class="checkbox-custom" name="LDP-1" type="checkbox" checked="checked">
                <label for="checkbox-LDP-confidential" class="checkbox-custom-label">Make Confidential (Hide project from public view)</label>
            </div>
            <div class="cursor_pointer blue_color display_inlineb" data-toggle="modal" data-target="#leed_make_public_modal">Learn More</div>
        </div>
        
        <div>
            <div class="display_inlineb">
                <input id="checkbox-LDP-showRacetrack" class="checkbox-custom" name="LDP-2" type="checkbox" checked="checked">
                <label for="checkbox-LDP-showRacetrack" class="checkbox-custom-label">Show racetracks to survey takers</label>
            </div>
            <div class="cursor_pointer blue_color display_inlineb" data-toggle="modal" data-target="#view_survey_modal">Learn More</div>
        </div>
    
    </div>
</div>
 
 <div class="floatl dividerManageSection"></div>
 
 <div class="width100p floatl" id="buildingSetup">
    <div class="heading6 gotham bold data_input required_section">Basics</div>
    <form class="data_input required_form setup setup_form" id="form">
        <div class="data_input required_content">

            <!----------------------------- Basics -------------------------->
            <div class="row marginleft0">
                <p class="highlight small-12 columns ">Project Info</p>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Facility Name
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="text" disabled="disabled" placeholder="Building name" name="buildingname" id="buildingname">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="small-5 columns field_label">
                        Project ID
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="number" disabled="disabled" placeholder="N/A" name="projectid" id="projectid">
                    </div>
                </div>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Year Built
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="number" min="1000" placeholder="e.g. 1985" name="year_constructed" id="yearbuilt">
                    </div>
                </div>
    <!--            <div class="small-6 columns">
                    <div class="small-5 columns field_label">
                        Property Type
                    </div>
                    <div class="small-7 columns">
                        <input required type="text" placeholder="E.g. Commercial" name="propertytype" id="propertytype" />
                    </div>
                </div> -->
            </div>

            <!----------------------------- Address -------------------------->
            <div class="row marginleft0">
                <p class="highlight small-12 columns ">Address</p>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding has_sub">
                        Street Address
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="text" disabled="disabled" placeholder="e.g. 123 Camino Street" name="streetaddress1" id="streetaddress1">
                    </div>
                </div>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding has_sub">
                        City
                        <div class="sub">Or Nearest City</div>
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="text" disabled="disabled" placeholder="e.g. Seattle" name="city" id="city">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="small-5 columns field_label nopadding">
                        County
                    </div>
                    <div class="small-7 columns">
                        <input type="text" disabled="disabled" name="county" id="county">
                    </div>
                </div>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        ZIP Code
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="text" min="0" placeholder="e.g. 98101" name="zip_code" id="zipcode">
                    </div>
                </div>
                <div class="small-6 columns">
                    <div class="small-5 columns field_label nopadding">
                        State/Province
                    </div>
                    <div class="small-7 columns">
                        <input type="text" disabled="disabled" required="" name="state" id="state">
                    </div>
                </div>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Country
                    </div>
                    <div class="small-7 columns">
                        <input type="text" disabled="disabled" required="" placeholder="USA" name="country" id="country">
                    </div>
                </div>
            </div>

            <div style="width: 100%;margin-left: 0px;margin-top: 40px;margin-bottom: 40px;" class="floatl dividerManageSection"></div>
            
            <!----------------------------- Building Setup -------------------------->
            <div class="heading6 gotham bold data_input required_section">Building Setup</div>
            <div class="row marginleft0">
                <p class="highlight small-12 columns ">Gross floor area</p>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Floor Area
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="number" placeholder="e.g. 87,500" name="gross_area" pattern="\d+(\.\d{2})?" id="floorarea">
                    </div>
                </div>
            </div>

            <div class="row marginleft0">
                <p class="highlight small-12 columns " id="operatingHours">Typical Operating Hours (24-hour format)</p>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Week Total
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="number" placeholder="e.g. 40" name="operating_hours" pattern="\d+(\.\d{2})?" id="totalHours">
                    </div>
                </div>
                <div class="small-6 columns field_label nopadding">
                    <div class="sub">
                        <div class="show_calculator">
                          Help me Calculate
                        </div>
                    </div>
                </div>
            </div>
            <!-- Start of Calculator -->
            <div id="hours_calculator">
                <div class="row marginleft0">
                    <div class="small-6 columns ">
                        <div class="small-5 columns field_label nopadding">
                            Monday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="monday_from" id="monday_from">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="monday_to" id="monday_to">
                            </div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="small-5 columns field_label">
                            Saturday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="saturday_from" id="saturday_from">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="saturday_to" id="saturday_to">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row marginleft0">
                    <div class="small-6 columns ">
                        <div class="small-5 columns field_label nopadding">
                            Tuesday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="tuesday_form" id="tuesday_form">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="tuesday_to" id="tuesday_to">
                            </div>
                        </div>
                    </div>
                    <div class="small-6 columns">
                        <div class="small-5 columns field_label">
                            Sunday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="sunday_from" id="sunday_from">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="sunday_to" id="sunday_to">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row marginleft0">
                    <div class="small-6 columns ">
                        <div class="small-5 columns field_label nopadding">
                            Wednesday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="wednesday_form" id="wednesday_form">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="wednesday_to" id="wednesday_to">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row marginleft0">
                    <div class="small-6 columns ">
                        <div class="small-5 columns field_label nopadding">
                            Thursday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="thursday_form" id="thursday_form">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="thursday_to" id="thursday_to">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row marginleft0">
                    <div class="small-6 columns ">
                        <div class="small-5 columns field_label nopadding">
                            Friday
                        </div>
                        <div class="small-7 columns nopadding day">
                            <div class="small-5 columns">
                                <input type="text" class="time from" placeholder="07:00" name="friday_form" id="friday_form">
                            </div>
                            <div class="small-2 columns dash">—</div>
                            <div class="small-5 columns">
                                <input type="text" class="time to" placeholder="18:00" name="friday_to" id="friday_to">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of calculator -->
            <div class="row marginleft0">
                <p class="highlight small-12 columns ">Building Occupancy</p>
            </div>
            <div class="row marginleft0">
                <div class="small-6 columns ">
                    <div class="small-5 columns field_label nopadding">
                        Occupancy
                    </div>
                    <div class="small-7 columns">
                        <input required="" type="number" min="0" placeholder="e.g. 500" name="occupancy" id="occupancy">
                    </div>
                </div>
                <div class="small-6 columns columns field_label nopadding">
                    <!--<div class="sub">
                        Includes both permanent occupants and visitors.
                    </div>-->
                </div>
            </div>
         </div>
    </form>
 
</div> 
 

 
<div class="floatl dividerManageSection"></div>
            
<div class="width100p floatl manage_block surveyCont">
    <div class="heading6 gotham bold data_input required_section">Links</div><br><br>
    <div class="setupbtn_div">
        <div class="setupbtn_desc">View LEED Dynamic Plaque and access Dashboard</div>
        <button id="plaque_link" class="btn_display relative" ng-click="plaqueLink()"><paper-ripple fit=""></paper-ripple>View Plaque</button>
    </div><br><br>
    <div class="setupbtn_div">
        <div class="setupbtn_desc">Access User Manual</div>
        <button id="survey_link" class="btn_display relative" download="" ng-click="manualLink()"><paper-ripple fit=""></paper-ripple>Download</button>
    </div><br><br>
    <div class="setupbtn_div mt7p" style="margin-right: -1%">
        <div class="setupbtn_desc" style="padding-top: 7px;">Email survey to all building occupants</div>
        <button id="survey_link_email" class="btn_display relative" ng-click="emailLink()"><paper-ripple fit=""></paper-ripple>Email Survey</button>
    </div>
</div>

