<div class="modal-header meter_select_header">
    <button class="close meter_select_close manual_meter_close" id="close_hardwareSubscription_modal" data-dismiss="modal" type="button">×</button>
</div>

<div class="row ml_0per" id="confirm_order_open">
  <div class="card_wrapper_3 main_3" >
    <div class="card container_shadow w60p_plan right_line_plan" >
        <div>
            <h2 class="mb25 build_head">DISPLAY</h2>
        </div>
        <div class="">
            <img src="assets/images/plaque_details.png" class="hw_plaque">
            <div class="light_color hw_plaque_text">The LEED Dynamic Plaque display unit creates an engaging, educational and meaningful experience for your building occupants and visitors while showcasing your building performance achievements.</div>
        </div>
        <div class="mt50 overflow_hidden mt_hardware">
            <div class="subInfoDiv mt10">
                <p class="fontSize15 mb40" id="subInfo" style="font-size: 16px">
                I want the award-winning LEED Dynamic Plaque display unit.
                </p>
            </div>
        </div>

         <div class="build_confirm_hardware mt10 hardware_page_ctrl">
            <input type="submit" class="btn btnFixWidth mb10 btnGreen no_outline" value="YES, PLEASE" id="continue3"></input>
            <input type="submit" class="btn btnOutline floatl no_outline" value="NO, THANKS" id="previous3"></input>
        </div>
        <p class="light_color skip_for_now align_center" data-dismiss="modal">Skip for now</p>
    </div>

    <div class="sub_1 card w40p_plan pos_abs plan_summary_container_hard">
        <div class="col_head align_center">
            <h2 class="mb25 plan_summary bottom_line pb25">PLAN SUMMARY</h2>
        </div>
        <div>
            <p class='summaryCost'>
                Your subscription can be paid <b>up front for <span class="amount_in_full"></span></b><span class="if_one_year">, or in <b>annual increments of <span class="amount_yearly"></span></b></span>.
            </p>
            <p>
                The LEED Dynamic Plaque display can be included for <b><span class="plaque_one_type_price_hrd"></span> up front</b><span class="if_one_year">, or <b><span class="plaque_anual_price_hrd"></span> per year</b>, for <span class="tem_selected_with_year"></span></span>.
            </p>
        </div>
    </div>

  </div>
</div>
