<div class="modal-header meter_select_header">
    <button class="close meter_select_close manual_meter_close" id="close_meterSetup_modal" type="button">×</button>
</div>

<div class="modal-body add_new_meter_modal_body">
  <div class="add_new_meter_header">Meter Setup</div>
     <div class="row order_content" id="meter_setup">    
      <div class="container mt_setup">    
        <div class="mb50 add_new_meter_sub_header"> Connect meters from one or more of the third parties below, or add them manually</div>     
        <div class="add_new_meter_row row ml3">     
              
          <div class="col-xs-6 col-sm-6 col-6-md col-lg-6 col-6 nopadding">    
            <div class="meter_img" id="energystar_img" >
              <label class="meter_num"><span id="energystar_meter_num"></span></label>
            </div>    
            <!-- <h5 class="mt_img_desc col-sm-11 col-11-md col-lg-11"> CONNECT ENERGYSTAR <br> METER </h5>     -->
          </div>    
        
          <div class="col-xs-6 col-sm-3 col-3-md col-lg-3 col-6 nopadding">    
            <div class="meter_img mb50" id="manual_img">
              <label class="meter_num"><span id="manual_meter_num"></span></label>
              <h5 class="mt_img_desc amm_label"> ADD MANUALLY </h5>
            </div>                                   
          </div>                
       </div> 
       <div class="add_new_meter_footer center_align">
          <button type="button" class="btnGreen print_receipt mb0" id="add_new_meter_save"><a id="add_new_meter_save">CONTINUE</a></button>
        </div>
        <p class="light_color skip_for_now align_center mt20">Skip for now</p>      
      </div>
  </div>
</div>
