<!-- <div class="modal-header meter_select_header">
    <button class="close meter_select_close manual_meter_close" id="close_buildingInfo_modal" type="button">×</button>
</div> -->

<div class="row ml_0per" id="building_receipt">
    <div class="card_wrapper_3">
        <div class="card main_3">
          <!-- <div class="fringe-up"></div> -->
          <h2 class="mb25 build_head">RECEIPT</h2>
          <div class="mt25 mb10 align_center bold fs16">U.S. Green Building Council</div>
          <div class="align_center">Thank you for your purchase!</div>
          <table class="mt25 mb25 order_sum_tbl_rcpt" style="width:100%">
          <tbody>
            <tr class="needplaque_tbl">
              <td class="border_none">Order#</td>
              <td class="border_none order_sum_td"><span class="receipt_sap_order_id"></span></td>
            </tr>
            <tr class="needplaque_tbl">
              <td class="border_none pt10">Amount</td>
              <td class="border_none order_sum_td"><span class="receipt_total_amount"></span></td>
            </tr> 
            <tr class="needplaque_tbl">
              <td class="border_none  pt10">Project</td>
              <td class="border_none order_sum_td"><span class="receipt_building_name"></span></td>
            </tr>  
            <tr class="needplaque_tbl">
              <td class="border_none  pt10">Project ID</td>
              <td class="border_none order_sum_td"><span class="receipt_building_ID"></span></td>
            </tr>
            <tr class="needplaque_tbl">
              <td class="border_none  pt10">Date</td>
              <td class="border_none order_sum_td"><span class="receipt_date"></span></td>
            </tr> 
            <tr class="needplaque_tbl">
              <td class="border_none  pt10">Address</td>
              <td class="border_none order_sum_td"><span class="building_address"></span></td>
            </tr>  
            <tr class="needplaque_tbl">
              <td class="border_none pt10">Name</td>
              <td class="border_none order_sum_td"><span class="receipt_payer_name"></span></td>
            </tr>
            <tr class="needplaque_tbl" id="ccrow_payment">
              <td class="border_none  pt10">Credit Card</td>
              <td class="border_none order_sum_td"><span class="credit_card_number"></span></td>
            </tr>
            <tr class="needplaque_tbl">
              <td class="border_none  pt10">Term Of Commitment</td>
              <td class="border_none order_sum_td"><span class="receipt_term"></span></td>
            </tr>  
          </tbody>
        </table>
        <hr class="order_sum_hr">
        <div class="mt25 mb10 align_center bold fs16">ORDER SUMMARY</div>
        <table class="mt25 order_sum_tbl_rcpt mb50" style="width:100%">
          <tbody>
            <tr class="needpl_tbl">
            <td class="border_none  pt10">LEED Dynamic Plaque Display Unit <span class="pay_full_span_hardware"></span></td>
            <td class="border_none order_sum_td"><span class="plaque_one_time_price"></span></td>
          </tr>
            <tr>
              <td class="border_none  pt10">Annual Subscription <span class="pay_full_span_subs"></span></td>
              <td class="border_none order_sum_td"><span class="subs_price"></span></td>
            </tr>
            <tr>
              <td class="pb25 pt25 border_none bold"><strong>Total</strong></td>
              <td class="pb25 border_none order_sum_td"><span class="total_plaque_price order_sum_input bold"></span></td>
            </tr>
          </tbody>
        </table>
        <div class="build_confirm_btn build_confirm_btn1 mt10 cancel_continue_buttons">
            <input type="submit" class="btn btnFixWidth mb10 btnGreen" data-dismiss="modal" id="comp_btn" value="COMPLETE">
            <input type="submit" class="btn usgbcBtnRight btnBlue" href="" value="PRINT"></input> 
        </div>
        <!-- <div class="fringe-down"></div> -->
      </div>
    </div>
</div>
