<div class="modal-header meter_select_header">
    <button class="close meter_select_close manual_meter_close" id="close_softwareSubscription_modal" data-dismiss="modal" type="button">×</button>
</div>

<div class="row ml_0per" id="confirm_order_open">
  <div class="card_wrapper_3 main_3" >
    <div class="card container_shadow w60p_plan right_line_plan" >
        <div>
            <h2 class="mb25 build_head">SUBSCRIBE</h2>
        </div>
        <div class="color_ccc fontSize15">
            <p class="light_color">
                Your subscription includes:
            </p>
            <div class="sub_includes light_color pl12">
                <p>
                    Powerful performance software
                </p>
                <p>
                    The option to display your score on your own device <i class="fa fa-android fa-fw"></i><i class="fa fa-apple fa-fw"></i><i class="fa fa-globe fa-fw"></i>
                </p>
            </div>
        </div>
        <div class="mt50 overflow_hidden">
            <div class="subInfoDiv mt10">
                <p class="fontSize15" id="subInfo">
                I want to subscribe for a period of:
                </p>
            </div>
            <div class="">
                <select class="sw_term_select_year form-control inblock pt0I pb0I" id="year"></select>
            </div>
        </div>

         <div class="mt50 buttonWrapper align_center software_page_ctrl">
            <input type="submit" class="btn btnGreen mb10 no_outline" value="Continue" id="continue2"></input>
        </div>
        <p class="light_color skip_for_now align_center skip_for_now_tweak" data-dismiss="modal">Skip for now</p>
    </div>

    <div class="sub_1 card w40p_plan pos_abs plan_summary_container">
        <div class="col_head align_center">
            <h2 class="mb25 plan_summary bottom_line pb25">PLAN SUMMARY</h2>
        </div>
        <div>
            <p class='summaryCost'>
                Your subscription can be paid <b>up front for <span class="amount_in_full"></span></b><span class="if_one_year">, or in <b>annual increments of <span class="amount_yearly"></span></b></span>.
            </p>
        </div>
    </div>

  </div>
</div>
